# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  pool:
    vmImage: 'Ubuntu-16.04'
  strategy:
    matrix:
      # No python 2.x since tf2onnx does not support it
      Python36-onnx1.2:
        python.version: '3.6'
        ONNX_PATH: onnx==1.2.3
        TENSORFLOW_PATH: tensorflow==1.11.0
        INSTALL_ORT: pip install onnxruntime==1.1.1

      Python36-onnx1.5:
        python.version: '3.6'
        ONNX_PATH: onnx==1.5.0
        TENSORFLOW_PATH: tensorflow==1.15.0
        INSTALL_ORT: pip install onnxruntime==1.1.1

      Python37:
        python.version: '3.7'
        ONNX_PATH: onnx==1.6.0
        TENSORFLOW_PATH: tensorflow-cpu==2.1.0
        INSTALL_ORT: pip install onnxruntime==1.4.0

      Python38:
        python.version: '3.8'
        ONNX_PATH: onnx==1.7.0
        TENSORFLOW_PATH: tensorflow-cpu==2.2.0
        INSTALL_ORT:

      Python38-tf2.3:
        python.version: '3.8'
        ONNX_PATH: onnx==1.8.0
        TENSORFLOW_PATH: tensorflow-cpu==2.3.0
        INSTALL_ORT: pip install -i https://test.pypi.org/simple/ ort-nightly==1.7.0.dev202102184

    maxParallel: 3

  steps:
  - script: sudo install -d -m 0777 /home/vsts/.conda/envs
    displayName: Fix Conda permissions

  - task: CondaEnvironment@1
    inputs:
      createCustomEnvironment: true
      environmentName: 'py$(python.version)'
      packageSpecs: 'python=$(python.version)'

  - script: |
      python -m pip install --upgrade pip
      conda config --set always_yes yes --set changeps1 no
      pip install $(ONNX_PATH)
      pip install h5py==2.9.0
      pip install $(TENSORFLOW_PATH)
      pip install git+https://github.com/microsoft/onnxconverter-common
      pip install -r requirements.txt
      pip install -r requirements-dev.txt
      $(INSTALL_ORT)
    displayName: 'Install dependencies'

  - script: |
      pip install -e .
      python -c "import onnxruntime"
      python -c "import onnxconverter_common"
      pytest tests --doctest-modules --junitxml=junit/test-results.xml
    displayName: 'pytest'

  - script: |
      flake8 keras2onnx
    displayName: 'flake8'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results.xml'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
