# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  timeoutInMinutes: 180
  pool:
    vmImage: 'Ubuntu-16.04'
  strategy:
    matrix:
      # No python 2.x since tf2onnx does not support it
      Python35:
        python.version: '3.5'
        ONNX_PATH: onnx==1.2.3
        INSTALL_KERAS: pip install keras==2.1.6
        TENSORFLOW_PATH: tensorflow==1.15.0
        INSTALL_KERAS_RESNET:
        RUN_TESTS: python run_all.py --exclude "test_transformers.py"

      Python36:
        python.version: '3.6'
        ONNX_PATH: onnx==1.5.0
        INSTALL_KERAS: pip install keras==2.2.4
        TENSORFLOW_PATH: tensorflow==1.15.0
        INSTALL_KERAS_RESNET: pip install keras-resnet
        RUN_TESTS: python run_all.py --exclude "test_transformers.py"

      Python37:
        python.version: '3.7.3'
        ONNX_PATH: onnx==1.6.0
        INSTALL_KERAS: pip install keras
        TENSORFLOW_PATH: tensorflow==1.15.0
        INSTALL_KERAS_RESNET: pip install keras-resnet
        RUN_TESTS: python run_all.py --exclude "test_transformers.py"

      Python37_tf2:
        python.version: '3.7.3'
        ONNX_PATH: onnx==1.6.0
        INSTALL_KERAS:
        TENSORFLOW_PATH: tensorflow==2.1.0
        INSTALL_KERAS_RESNET: pip install keras-resnet
        RUN_TESTS: python test_transformers.py

    maxParallel: 4

  steps:
  - script: sudo install -d -m 0777 /home/vsts/.conda/envs
    displayName: Fix Conda permissions

  - task: CondaEnvironment@1
    inputs:
      createCustomEnvironment: true
      environmentName: 'py$(python.version)'
      packageSpecs: 'python=$(python.version)'

  - script: |
      python -m pip install --upgrade pip
      conda config --set always_yes yes --set changeps1 no
      pip install $(ONNX_PATH)
      pip install h5py==2.9.0
      pip install $(TENSORFLOW_PATH)
      $(INSTALL_KERAS)
      git clone https://github.com/microsoft/onnxconverter-common
      cd onnxconverter-common
      pip install -e .
      cd ..
      pip install -r requirements.txt
      pip install -r requirements-dev.txt
      pip install -i https://test.pypi.org/simple/ ort-nightly
      pip install opencv-python
      pip install tqdm
      pip install keras-segmentation
      git clone https://github.com/matterport/Mask_RCNN
      cd Mask_RCNN
      pip install -r requirements.txt
      python setup.py install
      cd ..
      pip install matplotlib
      git clone https://github.com/qqwweee/keras-yolo3
      $(INSTALL_KERAS_RESNET)
      pip install git+https://www.github.com/keras-team/keras-contrib.git
      pip install keras-tcn==2.8.3
    displayName: 'Install dependencies'

  - script: |
      pip install -e .
      python -c "import onnxruntime"
      pytest tests --doctest-modules --junitxml=junit/test-results.xml
      cd applications/nightly_build
      $(RUN_TESTS)
    displayName: 'pytest'

  - script: |
      pip install -e .
      python -c "import onnxruntime"
      coverage run --include=keras2onnx/* --omit=keras2onnx/ktf2onnx/* tests/test_layers.py
      coverage report -m
      coverage html
    displayName: 'coverage'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results-*.xml'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
