# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

jobs:

- job: 'Test'
  timeoutInMinutes: 180
  pool:
    vmImage: 'vs2017-win2016'
  strategy:
    matrix:
      # No python 2.x since no available ONNX package for Windows
      Python35:
        python.version: '3.5'
        ONNX_PATH: onnx==1.2.3
        INSTALL_KERAS: pip install keras==2.1.6
        UNINSTALL_KERAS:
        INSTALL_TENSORFLOW: pip install tensorflow==1.14.0
        INSTALL_ORT: pip install onnxruntime==1.1.1
        INSTALL_KERAS_RESNET:
        INSTALL_TRANSFORMERS:
        NIGHTLY_BUILD_TEST: python run_all.py --exclude "test_keras_applications_v2.py test_mask_rcnn.py"

      Python36:
        python.version: '3.6'
        ONNX_PATH: onnx==1.5.0
        INSTALL_KERAS: pip install keras==2.2.4
        UNINSTALL_KERAS:
        INSTALL_TENSORFLOW: pip install tensorflow==1.14.0
        INSTALL_ORT: pip install onnxruntime==1.1.1
        INSTALL_KERAS_RESNET: pip install keras-resnet
        INSTALL_TRANSFORMERS:
        NIGHTLY_BUILD_TEST: python run_all.py --exclude "test_keras_applications_v2.py test_mask_rcnn.py"

      Python37:
        python.version: '3.7'
        ONNX_PATH: onnx==1.6.0
        INSTALL_KERAS: pip install keras==2.3.1
        UNINSTALL_KERAS:
        INSTALL_TENSORFLOW: pip install tensorflow==1.14.0
        INSTALL_ORT: pip install -i https://test.pypi.org/simple/ ort-nightly
        INSTALL_KERAS_RESNET: pip install keras-resnet
        INSTALL_TRANSFORMERS:
        NIGHTLY_BUILD_TEST: python run_all.py --exclude "test_keras_applications_v2.py test_mask_rcnn.py"

      Python37-official-ort:
        python.version: '3.7'
        ONNX_PATH: onnx==1.6.0
        INSTALL_KERAS: pip install keras==2.3.1
        UNINSTALL_KERAS:
        INSTALL_TENSORFLOW: pip install tensorflow==1.14.0
        INSTALL_ORT: pip install onnxruntime==1.1.1
        INSTALL_KERAS_RESNET: pip install keras-resnet
        INSTALL_TRANSFORMERS:
        NIGHTLY_BUILD_TEST: python run_all.py --exclude "test_keras_applications_v2.py test_mask_rcnn.py"

      Python38-tf2:
        python.version: '3.8'
        ONNX_PATH: onnx==1.7.0
        INSTALL_KERAS:
        UNINSTALL_KERAS: pip uninstall keras -y
        INSTALL_TENSORFLOW: pip install tensorflow==2.2.0
        INSTALL_ORT: pip install onnxruntime==1.3.0
        INSTALL_KERAS_RESNET: pip install keras-resnet
        INSTALL_TRANSFORMERS: pip install transformers==3.4.0
        NIGHTLY_BUILD_TEST: python run_all_v2.py

    maxParallel: 3

  steps:
  - task: UsePythonVersion@0
    inputs:
      versionSpec: '$(python.version)'
      architecture: 'x64'

  - powershell: Write-Host "##vso[task.prependpath]$env:CONDA\Scripts"
    displayName: Add conda to PATH

  - script: conda create --yes --quiet --name py$(python.version) -c conda-forge python=$(python.version) numpy protobuf
    displayName: Create Anaconda environment

  - script: |
      call activate py$(python.version)
      python -m pip install --upgrade pip numpy
      echo Test numpy installation... && python -c "import numpy"
      pip install %ONNX_PATH%
      pip install h5py==2.9.0
      %INSTALL_TENSORFLOW%
      %INSTALL_KERAS%
      git clone https://github.com/microsoft/onnxconverter-common
      cd onnxconverter-common
      git checkout 73b40dbb799f8a4c08180e06915a517201c631e6
      pip install -e .
      cd ..
      pip install -r requirements.txt
      pip install -r requirements-dev.txt
      %INSTALL_ORT%
      pip install opencv-python
      pip install tqdm
      pip install keras-segmentation==0.2.0
      pip install matplotlib
      git clone https://github.com/qqwweee/keras-yolo3
      %INSTALL_KERAS_RESNET%
      pip install git+https://www.github.com/keras-team/keras-contrib.git
      pip install keras-tcn==2.8.3
      %UNINSTALL_KERAS%
      pip install git+https://github.com/qubvel/efficientnet
      %INSTALL_TRANSFORMERS%
      pip install keras-self-attention
    displayName: 'Install dependencies'

  - script: |
      call activate py$(python.version)
      pip install -e .
      echo Test onnxruntime installation... && python -c "import onnxruntime"
      pytest tests --doctest-modules --junitxml=junit/test-results.xml
      cd applications/nightly_build
      %NIGHTLY_BUILD_TEST%
    displayName: 'pytest'

  - script: |
      call activate py$(python.version)
      pip install -e .
      echo Test onnxruntime installation... && python -c "import onnxruntime"
      coverage run --include=keras2onnx/* -m pytest tests/test_layers.py
      coverage report -m
      coverage html
    displayName: 'coverage'

  - task: PublishTestResults@2
    inputs:
      testResultsFiles: '**/test-results-*.xml'
      testRunTitle: 'Python $(python.version)'
    condition: succeededOrFailed()
